{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Supaaa
{% endblock %}
{% block content %}
    <h1>Wellcome for the amazing Pokemon Online tournament!</h1>

    <h2>The battle Begin!</h2>
    <h2>{{ pokeatk }} VS {{ pokedef }}</h2>
    <h3>You have removed {{ attack }} HP to {{ pokedef }}</h3>

{% endblock %}