{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Supaaa
{% endblock %}
{% block content %}
    <h1>Wellcome for the amazing Pokemon Online tournament!</h1>
        <h2>Welcome {{ username }}  </h2>
    <ul>
        {% for user in users %}
            {% if user.havepokemon == 1 %}
                {% if user.username == session.username %}

                {% else %}
                    <li>{{ user.username }} || {{ user.pokemonname }} <a href="attack.php?id={{ user.id }}">Attack!</a> </li>
                    {% endif %}
            {% else %}

            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}